.home_we_care_container{
    width: 100%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #ffffff80;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:6rem 0;
    border-top: 2px solid #ababab;
}
.home_we_care_container > div{
    width: 100%;
    max-width: 1140px;    
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    box-shadow: 0 4px 4px #0003;
    padding: 3.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.home_we_care_container > div > p {
    flex: 0.5;
    font-family: var(--font-fam);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.2px
}

.home_we_care_container > div > h2{
    font-family: var(--font-fam);
    font-weight: 300;
    flex: 0.5;
    font-size: 40px;
    text-align: end;
    line-height: 40px;
}
@media screen and (max-width:700px){
.home_we_care_container > div{
    padding: 3rem 2rem;
}
.home_we_care_container > div > h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
}
}
@media screen and (max-width:510px){
.home_we_care_container > div{
    flex-direction: column;
    align-items: flex-start;
    gap:unset
}
.home_we_care_container > div > h2{
    text-align: left;
    margin-bottom: 0.7rem;
}
}