.brand_issue_section {
  background: #fafafa;
  padding: 6rem 0;
  font-family: 'Inter', sans-serif;
  border-bottom: 2px solid #ababab;
  border-top: 2px solid #ababab;
}

.brand_issue_container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.brand_issue_heading {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  line-height: 55px;
  text-align: center;
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 2rem;
    z-index: 2;
}

.brand_issue_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.3rem;
}

.brand_issue_card {
  background: #fff;
  border-radius: 12px;
  padding: 2rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  outline-offset: 4px;
}

.brand_issue_label {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.before {
  color: #dd0000;
  font-family: var(--font-fam);
}

.after {
  color: #008341;
    font-family: var(--font-fam);
}

.brand_issue_text {
  font-size: 1.15rem;
  line-height: 1.5;
    font-family: var(--font-fam);
    margin-bottom: 1rem;
}

.brand_issue_text.before {
  color: #555;
  font-style: italic;
    font-family: var(--font-fam);
    margin-bottom: 1rem;
}

.brand_issue_text.after {
  color: #333;
  font-weight: 500;
    font-family: var(--font-fam);
}
@media screen and (max-width: 1139px) {
  .brand_issue_container{
    width: 100%;
  }
.brand_issue_grid{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brand_issue_card{
  width: 100%;
  max-width: 600px;
}
.brand_issue_heading{
  max-width: 600px;
  text-align: start;
}
}
@media screen and (max-width: 700px) {
  .brand_issue_grid{
   gap: unset
  }
.brand_issue_card{
  max-width: unset;
  border-radius: unset;
  box-shadow: unset;
  background-color: #fafafa;;
  padding: 2rem 2rem;
}
  .brand_issue_section {
    padding: 5rem 0 3rem 0;
  }
.brand_issue_heading {
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  max-width: 350px;
  margin: 0 2rem 2rem;
}
}