.plans_backgound{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0; 
   background-color: white;
}
 .plans_card_container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px
 }
.plans_pannel_option{
    height: 100%;
    width: 1000px;
    min-width: 300px;
    /* min-height: 535px; */
    max-width: 400px;
    border-radius: 5px;
    padding:  2.5rem 2.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #eeeeee;
    position: relative;
    z-index: 7;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.13)
}
.plans_pannel_option > img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 5px;
    width: 100%;
    height: 240px;
}
.plans_pannele_title_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.plans_pannele_title_container > h2{
    font-family: var(--font-fam);
    width: 100%;
    text-align: start;
    color: white;
    font-size: 40px;
    font-weight: 800;
    z-index: 9;
    margin-top: 120px;
}
.plans_branding_list{
    height: 135px;
}
.plans_websites_list{
    height: 170px;
}
.plans_marketing_list{
   height: 150px;
}
.plans_branding_list > h3,
.plans_websites_list > h3,
.plans_marketing_list > h3{
  font-size: 23px;
  margin-bottom: 5px;
  font-family: var(--font-fam);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.plans_branding_list > h3 > svg,
.plans_websites_list > h3 > svg,
.plans_marketing_list > h3 > svg{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.plans_branding_list > h3 > svg{
   fill: #D0872E
}
.plans_websites_list > h3 > svg{
   fill: #1C69A8
}
.plans_marketing_list > h3 > svg{
   fill: #C11007
}
.plans_pannel_option > a{
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-fam);
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    border-radius: 5px;
    text-decoration: none;
}
.plans_pannel_option > div:nth-child(3){
    margin-top: 50px;
}
.plans_pannel_option ul {
    list-style: disc;
    padding-left: 1rem;
}

.plans_pannel_option div:nth-child(2) > ul{
    width: 100%;
    max-width: 300px;
}
.plans_websites_list > ul > li,
.plans_branding_list > ul > li,
.plans_marketing_list > ul > li{
    line-height: 20px;
    font-family: var(--font-fam);
    color: #555;
}
.plans_pannel_option div:nth-child(3) > ul > li{
    font-family: var(--font-fam);
    font-size: 16px;
    margin-bottom: 3px;
}
.plans_pannel_option_details{
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    height: 72px;
    width:100%;
    text-align: start;
}
.sr_only{
    font-size: 50px;
    width: 100%;
    text-align: center;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 2rem;
}
.plans_pannel_option_details > p{
    font-family: var(--font-fam);
    color: #555;
}
@media screen and (max-width: 1139px){
     .plans_card_container{
        flex-wrap:wrap;
     }
}
@media screen and (max-width: 819px){
    .plans_branding_list,
    .plans_websites_list,
    .plans_marketing_list{
     height: 100%;
     margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 700px){
     .plans_card_container{
        flex-wrap:wrap;
     }
      .sr_only{
        font-size: 28px;
        letter-spacing: 0.3px;
        margin-bottom: 1.5rem;
    }
}