.home_faq_background{
    width: 100%;
    height: 100%;
    padding: 6rem 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
}
.home_faq_container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 2.4rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.home_faq_container > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.faq_title{
   text-align: center;
     line-height: 55px;
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 1rem;
}
.home_faq_background > h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: #666;
    font-family:var(--font-fam) ;
}
.home_faq_contact{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2rem 0 0 0; 
}
.home_faq_contact > p{
    font-family: var(--font-fam);
    font-size: 1.15rem;
    color: #000000;
}
.home_faq_contact > a{
    text-decoration: none;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    background-color: var(--green);
      font-family: var(--font-fam);
    font-size: 1.15rem;
    padding: 6px 0;
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 15px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);
    line-height:2;
}
@media screen and (max-width:700px){
    .faq_title {
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 1.1rem;
    }

    .home_faq_background {
        padding: 5rem 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .home_faq_container {
        width: 100%;
        padding: 2rem 1.5rem;
    }

    .home_faq_contact > a {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin: unset;
    }
    .home_faq_contact{
        flex-direction: column-reverse;
    }
    .home_faq_contact > p{
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top:5px;
    }
}
