.web_intro{
    width: 100%;
    min-height: 800px;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
    padding: 4rem 0;
    flex-wrap: wrap;
}

.web_intro > div:first-child > h1{
    color: white;
    font-size: 60px;
    max-width: 600px;
    line-height: 60px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 2.7rem;
}
.web_intro > div:first-child > h2{
    color: white;
   font-size: 22px;
   font-family: var(--font-fam);
   max-width: 300px;
   font-weight: 400;
   line-height: 27px;
   margin-bottom: 2.7rem;
}
.web_intro_btn_container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.web_intro_btn_container > a{
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    font-family: var(--font-fam);
    border-radius: 5px;
    text-decoration: none;
}
.web_intro_btn_container > a:first-child{
    margin-right: 1.1rem;
}

.web_intro > div:nth-child(2){
   max-width: 500px;
   margin-left: 2.4rem;
}
.web_intro > div:nth-child(2) > img{
    width: 100%;
    border-radius: 5px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1139px){
.web_intro{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   gap: 3rem;
}
.web_intro > div:nth-child(2){
    max-width: 600px;
   margin-left: unset;
}
}
@media screen and (max-width: 700px) {
.web_intro{
    padding: 6rem 2rem;
    align-items: flex-start;
}
.web_intro > div:first-child > h1{
    font-size: 32px;
    line-height: 37px;
    max-width: 350px;
    font-weight: 400;
    margin-bottom: 2rem;
}
.web_intro > div:first-child > h2{
   font-size: 20px;
   max-width: 300px;
   line-height: 24px;
   letter-spacing: 0.2px;
   margin-bottom: 2rem;
}
.web_intro_btn_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.web_intro_btn_container > a{
    width: 220px;
    font-size: 1rem;
    font-weight: 400;
}
.web_intro_btn_container > a:first-child{
    margin-right: 1.1rem;
}
.web_intro > div:nth-child(2){
   max-width: unset;
   margin-left: unset;
}
.web_intro{
    gap: 2rem;
}
}