.navbar_call_to_action_btn{
    position: fixed;
    bottom: 15px;
    font-size: 1rem;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    background-color: var(--green);
    border-radius: 5px;
    padding: 5px 12px;
    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-family: var(--font-fam);
    font-weight: 500;
    text-decoration: none;
    z-index: 99 !important;
}
.navbar_call_to_action_btn > svg{
    color: #eee;
    width: 18x;
    height: 18px;
    margin-left: 5px;
    margin-top: 2.6px;
}
.navbar_call_to_action_btn:hover{
    background-color:var(--greenHover);
}
@media screen and (max-width:970px){
    .navbar_call_to_action_btn{
        right: 15px
    }
}