.contact_container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem 0;
    padding-top: 110px;
    background-color: #f2f2f7;
}

.contact_alternative_line {
    width: 100%;
    max-width: 1140px;
    height: 1px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_alternative_line > p {
    z-index: 10;
    background-color: #f2f2f7;
    font-family: cursive;
    font-size: 18px;
    padding: 0 10px;
    margin-top: -4px;
    color: #333333;
}

.contact_phone_email {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    background-color: rgb(249, 249, 249);
    margin: 2rem 0;
    padding: 2rem 4rem;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}

.contact_phone_email div:first-child,
.contact_phone_email div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact_phone_email div:first-child > svg {
    width: 26px;
    height: 26px;
    color: #1fa851;
    margin-right: 5px;
}

.contact_phone_email div:nth-child(2) > svg {
    width: 26px;
    height: 26px;
    color: var(--green);
    margin-right: 5px;
}

.contact_phone_email div:first-child > span {
    display: flex;
    align-items: flex-start;
    justify-self: center;
    flex-direction: column;
}

.contact_phone_email div:first-child > span > a,
.contact_phone_email div:nth-child(2) > a {
    font-family: var(--font-fam);
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.3px;
    text-decoration: none;
    cursor: pointer;
}
.contact_note > p{
    font-family: var(--font-fam);
    font-size: 15px;
    color: #000000;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_note > p svg{
    margin-right: 6px;
     width: 23px;
    height: 23px;
    fill: gray;
}
@media screen and (max-width: 1139px) {
       .contact_phone_email {
        max-width: 600px;
        flex-direction: column;
        gap: 0.3rem;
    }
    .contact_note > p{
        text-align: left;
        margin-top: 0.3rem;
    }
}
@media screen and (max-width: 700px) {
    .contact_container{
        /* background-color: white; */
        margin-top: 42.5px;
        padding: 0;
    }
    .contact_phone_email {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 2rem 1rem;
    }

    .contact_phone_email > div:first-child {
        margin-bottom: 5px;
    }
    .contact_note > p{
        font-size: 14px;
    }
}