.contact_container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #F0F0F0;
    padding: 2rem 0;
    padding-top: 110px;
}
.container_title{
   font-family: var(--font-fam);
   font-size: 30px;
   color: #222222;
   font-weight: 400;
   letter-spacing: 0.3px;
}
.contact_form,
.contact_phone_email{
    max-width: 700px;
    width: 700px;
    height: 100%;
    background-color: white;
    margin: 2rem 0;
    padding: 2rem 4rem;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.1);
}
.contact_form > h1{
    font-family: var(--font-fam);
    font-weight: 400;
    font-size: 22px;
    color: #222222;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
}
.contact_form div:first-child,
.contact_desctiption,
.contact_form div:nth-child(3) > div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 25px 0;
}
.reCaptcha > div,
.reCaptcha > div > div{
    margin: 0 !important;
}
.reCaptcha > div > div > div{
    height: 30px !important;
}
.contact_form div:first-child > label,
.contact_desctiption > label,
.contact_form div:nth-child(3) > div > label{
    font-family: var(--font-fam);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333333;
    letter-spacing: 0.3px;
}
.contact_form div:first-child > select,
.contact_desctiption > textarea,
.contact_form div:nth-child(3) > div > input{
    width: 100%;
    padding: 7px 12px;
    border-radius: 6px;
    font-size: 15px;
    letter-spacing: 0.3px;
    border: 1px solid #666666;
    background-color: #fefefe;
    background-image:none;
    border:1px solid #ccc;
    text-decoration: none;
    user-select: none;
    color: #666666;
}
.contact_form div:nth-child(3) > h2{
    font-family: var(--font-fam);
    font-weight: 400;
    font-size: 22px;
    color: #222222;
    margin-top: 50px;
    margin-bottom: -5px;
    letter-spacing: 0.3px;
} 
.contact_form p{
    font-size: 13px;
    color: #666666;
    font-family: var(--font-fam);
    margin-bottom: 25px;
    letter-spacing: 0.3px;
    margin-top:5px;
}
.contact_form button{
 color: white;
 background-color: var(--green);
 border-radius: 8px;
 padding: 9px 16px;
 font-size: 17px;
 font-family: var(--font-fam);
 border: none;
 letter-spacing: 0.3px;
 cursor: pointer;
}
.contact_form button:hover{
    background-color:var(--greenHover);
}
.contact_alternative_line{
    width: 700px;
    height: 1px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_alternative_line > p{
    z-index: 10;
    background-color: #f2f2f7;
    font-family:cursive;
    font-size: 18px;
    padding: 0 10px;
    margin-top: -4px;
    color: #333333;
}
.contact_phone_email{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: row;
}
.contact_phone_email div:first-child,
.contact_phone_email div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.contact_phone_email div:first-child > svg{
    width: 26px;
    height: 26px;
    color: #1fa851;
    margin-right: 5px;
}
.contact_phone_email div:nth-child(2) > svg{
    width: 26px;
    height: 26px;
    color: var(--green);
    margin-right: 5px;
}
.contact_phone_email div:first-child > span{
    display: flex;
    align-items: flex-start;
    justify-self: center;
    flex-direction: column;
}
.contact_phone_email div:first-child > span > a,
.contact_phone_email div:nth-child(2) > a{
    font-family: var(--font-fam);
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.3px;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 970px){
    .contact_container{
        padding-top: 65px
    }
}
@media screen and (max-width: 730px){
    .contact_container{
        background-color: white;
    }
    .contact_form,
    .contact_phone_email{
        width: 100%;
        border-radius: unset;
        max-width: unset;
        padding: 2rem 20px;
        box-shadow: unset;
    }
    .contact_alternative_line{
        width: 100%;
    }
    .contact_phone_email{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
     }
}
@media screen and (max-width: 510px){
     .contact_phone_email{
        display: flex;
        flex-direction: column;
     }
     .contact_phone_email > div:first-child{
        margin-bottom: 5px;
     }
     .contact_form > h1:first-child{
        font-size: 20px;
     }
     .container_title{
        margin-top: 20px;
     }
     /* confirmation */
     .contact_confirmation > h1{
        font-size: 25px;
     }
    .contact_confirmation > div > svg{
        width: 45px;
        height: 45px;
    }
}