.marke_story_background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ababab;
}
.marke_story_container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    gap: 4rem;
    border-radius: 5px;
    /* box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.1); */
}
.marke_story_image{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marke_story_image > img{
    /* width: 100%; */
    /* height: auto; */
    /* max-width: 550px; */
    border-radius: 5px;
}
.marke_story_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
       padding: 2rem 0;
}
.marke_story_text > h1{
    font-size: 45px;
    max-width: 500px;
    font-family: var(--font-fam);
    font-weight: 300;
    line-height: 50px;
    margin-bottom: .8rem;
}
.marke_story_text > p{
    font-family: var(--font-fam);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    max-width:500px;
    line-height: 24px;
}
.marke_story_button{
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-fam);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 2rem;
}
@media screen and (max-width:1139px){
    .marke_story_background{
      padding: 3rem 0;
    }
    .marke_story_text{
     padding: 0;
    }
     .marke_story_container{
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 550px;
        gap: 1rem;
        margin: 0 auto;
     }
     .marke_story_image{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
}
.marke_story_image > img {
    width: 100%;
    height: auto;
}
.marke_story_text{
    width: 100%;
}
.marke_story_text > h1{
    font-size: 45px;
}
}
@media screen and (max-width:700px){
.marke_story_container{
    padding: 0rem 1rem;
}
.marke_story_text > h1{
    font-size: 35px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.marke_story_text > p{
    font-size: 18px;
    margin-bottom: 1rem;
}
.marke_story_button{
    margin-top: 0.6rem;
}
}
