.marke_graph_background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ababab;
}
.marketing_graps_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    padding: 8rem 0  10rem 0;
}
.marketing_graps_container > h1{
    font-family: var(--font-fam);
    font-size:50px;
    font-weight: 300;
    color: #333333;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
    line-height: 50px;
    margin-bottom: .8rem;
    width: 100%;
}
.marketing_graps_container > p{
    font-family: var(--font-fam);
    width: 100%;
    font-size: 1.1rem;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 3rem;
    max-width: 600px;
}
.markeging_graphs_numbers_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 1140px;
    height: 100%;
}
.markeging_graphs_numbers_container > div > p,
.markeging_graphs_numbers_container > div > span{
    font-family: var(--font-fam);
    color: #333333;
}
.markeging_graphs_numbers_container > div > p{
    font-size: 26px;
}
.markeging_graphs_numbers_container > div > span{
    font-size: 16px;
}
.marketing_graphs_bar_container{
    width: 30vw;
    max-width: 300px;
    height: 25px;
    margin-top: 5px;
}
.marketing_graphs_bar_container > div{
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, rgb(0, 122, 0), rgb(0, 159, 0));
}
@media screen and (max-width:1139px){
    .marketing_graps_container{
        padding: 3rem 0;
        max-width: 550px;
    }
    .marketing_graps_container > h1{
    width: 100%;
    text-align: start;
    font-size: 45px;
}
.marketing_graps_container > p{
   width: 100%;
    text-align: start;
    margin-bottom: 2rem;
}
    .marketing_graps_container > h2{
        width: 100%;
        text-align: start;
        font-size: 26px;
        margin-bottom: 1rem;
    }
    .markeging_graphs_numbers_container{
        flex-direction: column;
        align-items: center;
    }
    .markeging_graphs_numbers_container > div{
        margin: 1.2rem 0;
    }
    .marketing_graphs_bar_container{
        width: 550px;
        max-width: none;
    }
    .markeging_graphs_numbers_container > div > p{
        font-size: 24px;
        line-height: 20px;
    }

}
@media screen and (max-width:700px){
    .markeging_graphs_numbers_container{
   display: block;
    }
    .marketing_graps_container{
        padding: 3rem 1rem;
        gap: unset;
    }
    .marketing_graps_container > h1{
    font-size: 35px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.marketing_graps_container > p{
        font-size: 18px;
        line-height: unset;
        font-weight: 400;
        margin-bottom: 1rem;
}
.marketing_graphs_bar_container{
        width: 100%;
        max-width: none;
    }

}
