
.reCaptcha > div,
.reCaptcha > div > div{
    margin: 0 !important;
}
.reCaptcha > div > div > div{
    height: 30px !important;
}
.contact_form div:first-child > label,
.contact_desctiption > label,
.contact_form div:nth-child(3) > div > label{
    font-family: var(--font-fam);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333333;
    letter-spacing: 0.3px;
}
.contact_form div:first-child > select,
.contact_desctiption > textarea,
.contact_form div:nth-child(3) > div > input{
    width: 100%;
    padding: 7px 12px;
    border-radius: 6px;
    font-size: 15px;
    letter-spacing: 0.3px;
    border: 1px solid #666666;
    background-color: #fefefe;
    background-image:none;
    border:1px solid #ccc;
    text-decoration: none;
    user-select: none;
    color: #666666;
}

/* popup styles */
.contact_confirmation{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact_confirmation > button{
    position: absolute;
    right: 4rem;
    top: 2rem;
    padding: 10px;
    background:none;
    border: none;
    cursor: pointer;
}
.contact_confirmation > img{
    max-width: 180px;
    margin: 0.3rem 0;
}
.contact_confirmation > h1{
    font-size: 27px;
    font-family: var(--font-fam);
    color: #333333;
    font-weight: 500;
}
.contact_confirmation > h2{
    font-size: 20px;
    font-family: var(--font-fam);
    color: #333333;
}
.contact_privacy_label{
    width: 100%;
    font-family: var(--font-fam);
       
}
.contact_privacy_label > span{
   font-size: 14px;
   color: black;
   margin-left: 3px;
}
.contact_privacy_label > span a{
   color: rgb(0, 116, 233);
   text-decoration: underline;
}
