.home_steps_background{
  background-color:rgb(255, 255, 255);
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0px; 
  border-top: 2px solid #ababab;
  border-bottom: 2px solid #ababab;
}
.home_steps_container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.home_steps_titles{
    width: 100%;
}
.home_steps_titles > h1{
     line-height: 55px;
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 0.3rem;
    text-align: center;
}
.home_steps_titles > h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--font-fam);
    margin-bottom: 3.5rem;
}
.home_steps_step_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
}
.home_steps_step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  flex-start;
    width: 1fr;
    width: 185px;
}
.home_steps_step > h2{
    font-size: 1.5rem;
    font-family: var(--font-fam);
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: #cacaca;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: black;
}
.home_steps_step > p{
    font-size: 1.15rem;
    font-family: var(--font-fam);
    font-weight: 500;
    color: #333;
    text-align: center;
    padding: 0 10px;
    line-height: 23px;
}
.home_steps_step_svg{
    margin-top: 12px;

}
.home_steps_step_svg > svg{
    width: 60px;
    height: 60px;
    fill: #cacaca;
}
.steps_start{
    display: block;
    font-size: 1.2rem;
    font-family: var(--font-fam);
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
font-weight: 500;
color: white;
background-color: var(--green);
border-radius: 5px;
text-decoration: none;
transition: color 0.3s ease;
margin-top: 4rem;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);

}
@media screen and (max-width:700px){
    .home_steps_background{
        padding: 4rem 2rem;
    }
    .home_steps_titles > h1{
        text-align: left;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 1rem;
        max-width: 300px;
    }

    .home_steps_titles > h2 {
        width: 100%;
        font-size: 16px;
        text-align: left;
        padding-left: unset;
        line-height: 1.3;
        letter-spacing: 0.2px;
        max-width: 250px;
    }
    .home_steps_step> p{
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 20px;
        max-width: 160px;

    }
    .home_steps_step > h2{
        width: 65px;
        height:65px;
        border-radius: 33px;
        font-size: 21px;
        margin-bottom: 7px;
    }
    .home_steps_step_container {
        flex-direction: column;
        align-items: center;
        gap:1.5rem;
    }

    .home_steps_step {
        margin-bottom: -1.1rem;
        align-items: center;
    }

    .home_steps_step_svg {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 0px; 
        margin-bottom: 0px;
        }

        .home_steps_step_svg > svg {
        transform: rotate(90deg);
        }
        .steps_start{
            margin-top: 3rem;
            font-size: 16px;
        letter-spacing: 0.2px;
        }
}