.brand_steps_background{
    width: 100%;
    background-image: url(/images/websites/web_steps_img.webp);
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-repeat: repeat;
    background-position: center;
    border-bottom: 2px solid #ababab;
}
.brand_steps_background::after{
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0.85);
}
.brand_steps{
    width: 100%;
    max-width: 1140px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.brand_steps > h1{
  font-size: 50px;
  font-family: var(--font-fam);
  font-weight: 300;
  margin-bottom: 2rem;
  z-index: 2;
}
.brand_step_banner{
    width: 100%;
    z-index: 2;
    padding:30px 6rem;
    background-color:#e5e5e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 15px 0;
}
.brand_number_conteiner{
    width: 223px;
}
.brand_big_numbers{
    z-index: 3;
    color: rgb(255, 255, 255);
    font-size: 23rem;
    line-height: 20rem;
    font-weight: 500;
    font-family: var(--font-fam);
    margin-right: 10px;
}
.brand_step_banner > div:nth-child(2){
    width: 50%;
}
.brand_step_banner > div:nth-child(2) > h2{
   /* color: white; */
   width: 100%;
    font-family: var(--font-fam);
    font-size: 35px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.brand_step_banner > div:nth-child(2) > p{
    font-family: var(--font-fam);
    font-size: 16px;
    letter-spacing: 0.3px;
    max-width: 450px;
    line-height: 1.4;
}
.brand_steps > a{
    display: block;
    width: 200px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    font-family: var(--font-fam);
    padding: 7px 0;
    border-radius: 5px;
    text-decoration: none;
    z-index: 3;
    margin-top: 15px;
}
@media screen and (max-width: 700px) {
    .brand_steps_background{
        padding: 6rem 0 3rem 0;
    }
.brand_steps > h1{
   font-weight: 400;
}
.brand_steps{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}
.brand_steps > h1{
    font-size: 32px;
    line-height: 37px;
    max-width: unset;
    margin: 0 0 2rem 0;
    padding: 0 2rem;
    text-align: left;
}
.brand_step_banner{
    width: 100%;
    z-index: 2;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin:0;
    border-radius: unset;
    position: relative;
    gap: 1rem;
    background-color: transparent;
}
.brand_number_container{
    width: unset;
}
.brand_big_numbers{
    font-size: 10rem;
    line-height: 8rem;
    color: rgb(111, 111, 111);
}
.brand_step_banner > div:nth-child(2){
    width: 100%;
}
.brand_step_banner > div:nth-child(2) > h2{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: unset;
    max-width: 200px;
    position: absolute;
    top: 5rem;
    left: 130px;
}
.brand_steps > a{
    width: 220px;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
}