.contact_intro_background{
    width: 100%;
    height: 100%;
    padding: 0rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content:center;
}
.contact_intro_container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
}
.contact_intro_first{
    background-color: rgb(250, 250, 250);
    width: 60%;
    padding: 3rem;
    box-shadow: 0 4px 4px #0002;
}
.contact_intro_first > h1{
    font-size: 60px;
    max-width: 400px;
    line-height: 60px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.contact_intro_first > h2{
    font-size: 22px;
   font-family: var(--font-fam);
   max-width: 450px;
   line-height: 27px;
   margin-bottom: 1rem;
   font-weight: 400;
}
.contactIntroReviews{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 0;
}
.contactIntroReviews > svg{
    fill: #fd0;
    width: 30px;
    height: 30px;
}
.contactIntroReviews > svg:nth-child(5){
    margin-right: 1.6rem;
}
.contactIntroReviews > img{
    border-radius: 20px;
    margin-left: -19px;
    border: 2px solid white;
}
.contact_intro_first > p,
.contact_intro_first > span{
   font-size: 20px;
   font-weight: 400;
   font-family: var(--font-fam);
   max-width: 550px;
   display: flex;
   align-items: center;
   margin: -4px 0;
}
.contactIntroReviews > p{
    margin-left: 0.4rem;
    font-size: 20px;
    font-family: var(--font-fam);
    font-weight: 400;

}
.contact_intro_second{
    width: 40%;
    height: 100%;
    min-height: 440px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 4px 4px #0002;
}
@media screen and (max-width:1139px){
    .contact_intro_container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact_intro_first, .contact_intro_second{
        width: 100%;
        max-width: 600px;
    }
    .contact_intro_first > h1{
        font-size: 48px;
        line-height: 52px;
        max-width: 100%;
    }
    .contact_intro_second{
      min-height: unset;
      align-items: flex-start;
      justify-content: flex-start;
    }
}
@media screen and (max-width:700px){
.contact_intro_first > h1{
    max-width: 350px;
    margin-bottom: 1rem;
    font-size: 35px;
    font-weight: 400;
    line-height: 37px;
}
.contact_intro_first > h2{
    font-size: 18px;
    line-height: 20px;
    max-width: 350px;
    margin-bottom: 1.5rem;
}
.contact_intro_first, .contact_intro_second{
    max-width: unset;
    padding: 2.5rem 1rem;
    box-shadow: unset;
}
 .contact_intro_first > p{
    line-height: 1px;
    font-size: 16px;
    margin-bottom: 15px;
    height: 1px;
    display: inline-block;
  }
  .contact_intro_first > span{
    font-size: 16px;
    margin-top: 2.4rem;
  }
   .contact_intro_first > p > img{
      vertical-align: middle;
    }
    .contact_intro_first > span{
        margin-top: 0.4rem;
    }
    .contactIntroReviews{
        margin: 1rem 0;
    }
    .contactIntroReviews > img{
        width: 33px;
        height: 33px;
    }
    .contactIntroReviews > p{
        font-size: 18px;
    }
        .contact_intro_first > h1{
         max-width: 300px;
        }
        .contactIntroReviews > svg{
            width: 25px;
            height: 25px;
        }
}