.marke_motivational_background{  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0 5rem 0;
     /* -webkit-backdrop-filter: blur(20px); */
    /* backdrop-filter: blur(20px); */ 
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: white;
    position: relative;
    /* padding-top: 50px; */
}
/* offer */
.marke_motivational_offer{
   position: absolute;
   top:0;
   left: 0;
   right: 0;
   background-color: #e0e0e0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #ababab;
}
.marke_motivational_offer > div {
   width: 100%;
   max-width: 1140px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.marke_motivational_offer > div > p{
   font-family: var(--font-fam);
   font-size: 1.1rem;
   padding: 17px 0;
}
.marke_motivational{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    gap: 3rem;
}
.marke_motivational > img{
   border-radius: 5px;
}
.marke_motiovational_text{
    width: 100%;
}
.marke_motiovational_text > h1{
    max-width: 600px;
    font-size: 45px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 50px;
}
.marke_motiovational_text > h2{
    font-size: 20px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 0.8rem;
    max-width: 400px;
    line-height: 25px;
}
.marke_motiovational_text > a {
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    font-family: var(--font-fam);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
}
@media screen and (max-width: 1139px){
    .marke_motivational_background{
      padding: calc(56px + 3rem ) 0 3rem 0;
    }
.marke_motivational{
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    max-width: 550px;
    margin: 0 auto;
    border: unset;
}
.marke_motivational_offer > div > p{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}
.marke_motivational > img{
   width: 100%;
   height: auto;
}
}
@media screen and (max-width:700px){
.marke_motivational{
    padding: 0 1rem;
}
.marke_motiovational_text > h1{
    font-size: 35px;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 1rem;
}
.marke_motiovational_text > h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.marke_motiovational_text > a{
    width: 220px;
    font-size: 1.1rem;
    font-weight: 400;
}
.marke_motivational{
  gap: 1.5rem;
}
/* offer */
.marke_motivational_offer > div {
   padding: 0 1rem;
}
.marke_motivational_offer > div > p{
   font-size: 18px;
}
}