.web_solutions_container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0;
}
.web_solutions_container > h1{
  font-size: 50px;
  color: white;
  font-family: var(--font-fam);
  font-weight: 300;
  margin-bottom: 2rem;
}
.web_solution{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    padding: 40px 6rem;
}
.web_solution_reverse{
     width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    padding: 40px 6rem;
    margin: 30px 0;
}
.web_solution_text,
.web_solution_text_reverse{
   width: 100%;
   max-width: 50%;
}
.web_solution_text_reverse{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.web_solution_text > h2{
   color: white;
   font-family: var(--font-fam);
   font-size: 35px;
   line-height: 40px;
   font-weight: 300;
   margin-bottom: 1rem;
   width: 390px;
   text-align: end;
}
.web_solution_text_reverse > h2{
   color: white;
   font-family: var(--font-fam);
   font-size: 35px;
   line-height: 40px;
   font-weight: 300;
   margin-bottom: 1rem;
   width: 390px;
   text-align: start;
}
.web_solution_text > p{
  color: white;
  font-family: var(--font-fam);
  font-size: 16px;
  letter-spacing: 0.2px;
  max-width: 390px;
  text-align: end;
  line-height: 1.4;
}
.web_solution_text_reverse > p{
  color: white;
  font-family: var(--font-fam);
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 1.4;
  max-width: 390px;
  text-align: start;
}
.web_solution div:nth-child(2),
.web_solution_reverse div:nth-child(2){
    width: 100%;
    max-width: 45%;
    overflow: hidden;
    max-height: 320px;
    border-radius: 5px;
}
.web_solution div:nth-child(2) > img,
.web_solution_reverse div:nth-child(2) > img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.web_solutions_container > a{
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-fam);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    padding: 7px 0;
    border-radius: 5px;
    text-decoration: none;
}
@media screen and (max-width: 1139px){
.web_solution,
.web_solution_reverse{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.web_solution_text,
.web_solution_text_reverse{
       max-width: 600px;
   width: 100%;
}
.web_solution_text > h2,
.web_solution_text_reverse > h2{
   text-align: start;
   width: 100%;
}
.web_solution_text > p,
.web_solution_text_reverse > p{
  text-align: start;
  width: 100%;
  max-width: unset;
}
.web_solution div:nth-child(2),
.web_solution_reverse div:nth-child(2){
    width: 100%;
    max-width: 600px;
    max-height: 490px;
}
}
@media screen and (max-width: 700px) {
.web_solution,
.web_solution_reverse{
    gap: 1.5rem;
}
.web_solutions_container{
    padding: 6rem 2rem 3rem 2rem;
    display: flex;
    align-items: start;
    border-bottom: 2px solid rgb(104, 104, 104)
}
.web_solutions_container > h1{
    width: 100%;
    text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.3px;
  margin-bottom: -20px;
}
.web_solution{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:0;
    margin: 10px 0;
    background-color: transparent;
}
.web_solution_reverse{
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:0;
    margin: 7px 0;
    background-color: transparent;
}
.web_solution_text,
.web_solution_text_reverse{
   width: 100%;
   max-width: unset;
}
.web_solution_text_reverse{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.web_solution_text > h2,
.web_solution_text_reverse > h2{
   font-size: 25px;
   line-height: 30px;
   letter-spacing: 0.3px;
   margin-bottom: 1.5rem;
   margin-top: 3rem;
   font-weight: 400;
   width: 100%;
   text-align: start;
}
.web_solution_text > p{
  text-align: start;
}
.web_solution div:nth-child(2),
.web_solution_reverse div:nth-child(2){
    width: 100%;
    max-width: unset;
    max-height: 250px;
}
.web_solutions_container > a{
    width: 200px;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0;
    margin-top: 20px;
}
}