.marke__intro_background{
    width: 100%;
    height: 100vh;
    max-height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5); */
    background-color: white;
    padding-top: 45px
}
.marke_intro_container{
   width: 100%;
    min-height: 800px;
    max-width: 1140px;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    justify-content: start;
    padding: 3rem 0;
}
.marke_intro_text{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.marke_intro_text > h1{
    font-size: 60px;
    max-width: 550px;
    line-height: 60px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.marke_intro_text > p{
   font-size: 22px;
   font-family: var(--font-fam);
   max-width: 550px;
   line-height: 27px;
   margin-bottom: 1rem;
}
.marke_button_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    margin-bottom: 1rem;
}
.marke_button_container > a{
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-fam);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
}
.marke_button_container > a:nth-child(1){
    color: white;
    background-color: var(--green);
}
.marke_button_container > a:nth-child(2){
    color: var(--green);
    background-color: transparent;
    border: 2px solid var(--green);
}
.marke_intro_text p:nth-child(4),
.marke_intro_text span:nth-child(5){
   font-size: 20px;
   font-weight: 400;
   font-family: var(--font-fam);
   max-width: 550px;
   display: flex;
   align-items: center;
   margin: -4px 0;
}
.marke_intro_container > img:first-child{
    height: auto;
    border-radius: 5px;
}
@media screen and (max-width: 1139px) {
  .marke__intro_background{
  max-height: unset;
  height: unset;

  }
  .marke_intro_container {
    width: 100%;
    max-width: 550px;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .marke__intro_background{
    min-height: 100vh;
  }
  .marke_intro_container {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
  }

  .marke_intro_text > h1 {
    font-size: 35px;
    line-height: 37px;
    font-weight: 400;
    max-width: 350px;
    margin-bottom: 1rem;
  }

  .marke_intro_text > p {
    font-size: 18px;
    line-height: 22px;
    max-width: 350px;
    margin-bottom: 1.5rem;
  }

  .marke_button_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
  }

  .marke_button_container > a {
    width: 220px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .marke_intro_container > img:first-child {
    max-width: 100%;
  }
  .marke_intro_text > p{
    line-height: 20px;
    font-size: 18px;
  }
  .marke_intro_text > p:nth-child(4){
    line-height: 1px;
    font-size: 16px;
    margin-bottom: 15px;
    height: 1px;
    /* margin-top: 1rem; */
    display: inline-block;
  }
  .marke_intro_text > span:nth-child(5){
    font-size: 16px;
    margin-top: 2.4rem;
  }
    .marke_intro_text > p:nth-child(4) > img{
      vertical-align: middle;
    }
}
