.marke_steps_background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #ababab;
}
.marke_steps_container{
    width: 100%;
    height: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}
.marke_steps_container > div{
    width: 100%;
    height: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
}
.marke_steps_container h1{
   font-family: var(--font-fam);
   font-size: 45px;
   font-weight: 300;
   margin-bottom: 1.2rem;
   line-height: 50px;
}
.marke_steps_container p{
    width: 100%;
    max-width: 600px;
    font-family: var(--font-fam);
    font-size: 1.2rem;
    line-height: 24px;
    margin-right: 30px;
}
.marke_steps_container > svg{
    width: 110px;
    height: 110px;
    min-width: 110px;
    min-height: 110px;
    fill: rgb(82, 82, 82);
}
@media screen and (max-width:1139px){
   .marke_steps_container{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 2rem;
}
.marke_steps_container > img{
    max-width:100%;
    height: auto;
}
.marke_steps_container h1{
    font-size: 45px;
}
}

@media screen and (max-width:700px){
   .marke_steps_container{
    padding: 3rem 1rem;
}
.marke_steps_container h1{
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 1rem;
    font-weight: 400;
}
.marke_steps_container p{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 1.5rem;
}
   .marke_steps_container{
    gap: unset;
   }
   .marke_steps_container > img {
    border-radius: 5px;
   }
}