.web_steps_background{
    width: 100%;
    background-image: url(/images/websites/web_steps_img.webp);
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-repeat: repeat;
    background-position: center;
    border-bottom: 2px solid rgb(106, 106, 106);
    border-top: 2px solid rgb(106, 106, 106);
}
.web_steps_background::after{
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.85);
}
.web_steps{
    width: 100%;
    max-width: 1140px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.web_steps > h1{
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: var(--font-fam);
  font-weight: 300;
  margin-bottom: 2rem;
  z-index: 2;
}
.web_step_banner{
    width: 100%;
    z-index: 2;
    padding:30px 6rem;
    background-color:#121212;;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 15px 0;
}
.number_conteiner{
    width: 223px;
}
.number_conteiner > h3{
    z-index: 3;
    color: rgb(72, 72, 72);
    font-size: 23rem;
    line-height: 20rem;
    font-weight: 500;
    font-family: var(--font-fam);
}
.web_step_banner > div:nth-child(2){
    width: 50%;
}
.web_step_banner > div:nth-child(2) > h2{
   color: white;
    font-family: var(--font-fam);
    font-size: 35px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.web_step_banner > div:nth-child(2) > p{
    color: white;
    font-family: var(--font-fam);
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    max-width: 400px;
}
.web_steps > a{
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-fam);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    padding: 7px 0;
    border-radius: 5px;
    text-decoration: none;
    z-index: 3;
    margin-top: 15px;
}
@media screen and (max-width: 700px) {
.web_steps_background{
    padding: 6rem 0rem;
    border-bottom: 2px solid rgb(104, 104, 104)
}
.web_steps{
    width: 100%;
    max-width: unset;
    align-items: flex-start;
    justify-content: flex-start;
}
.web_steps > h1{
   font-size: 30px;
   line-height: 35px;
   font-weight: 400;
   margin-bottom: 1.5rem;
   margin-left: 2rem;
}
.web_step_banner{
     width: 100%;
    z-index: 2;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin:0;
    border-radius: unset;
    position: relative;
    gap: 1rem;
    background-color: transparent;
}
.number_conteiner{
    width: unset;
}
.number_conteiner > h3{
    font-size: 10rem;
    line-height: 8rem;
}
.web_step_banner > div:nth-child(2){
    width: 100%;
}
.web_step_banner > div:nth-child(2) > h2{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: unset;
    max-width: 200px;
    font-weight: 400;
    position: absolute;
    top: 5rem;
    left: 130px;
}
.web_steps > a{
    width: 220px;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
}