.marke_story_background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ababab;
}
.marke_story_container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
}
.marke_story_image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.marke_story_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.marke_story_text > h1{
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    line-height: 50px;
    margin-bottom: .8rem;
}
.marke_story_text > p{

    font-family: var(--font-fam);
    font-size: 1.1rem;
    line-height: 24px;
    margin-bottom: 0.5rem;
    max-width:600px;
}

@media screen and (max-width:1139px){
     .marke_story_container{
        flex-direction: column-reverse;
        max-width: 550px;
        gap: 2rem;
        margin: 0 auto;
        padding: 3rem 0;
     }
     .marke_story_image{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
}
     .marke_story_image > img{
      width: 100%;
      height: auto;
      }
      .marke_story_text{
          width: 100%;
      }
      .marke_story_text > h1{
        font-size: 45px;
    }
}
@media screen and (max-width:700px){
    .marke_story_background{
       padding: 3rem 1rem;
    }
.marke_story_container{
    gap: unset;
    padding: 0;
}
.marke_story_text > h1{
    font-size: 35px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.marke_story_text > p{
    margin-bottom: 1.5rem;
    font-size: 18px;
}
.marke_story_image img{
   border-radius: 5px;
}
}
