.marke_issues_background{
    width: 100%;
    background-color: rgb(239, 239, 239);
    padding: 5rem 0 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #ababab;
    border-bottom: 2px solid #ababab;
}
.marke_issues{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marke_issues > h1{
  font-size: 50px;
  font-family: var(--font-fam);
  font-weight: 300;
  margin-bottom: 2rem;
}
.marke_issues_continer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.marke_issues_continer div:first-child{
    width: 100%;
    max-width: 50%;
}

.marke_issues_continer div:first-child > img{
   border-radius: 5px;
   width: 100%;
   height: auto
}
.marke_issues_continer div:nth-child(2){
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
.marke_issues_continer div:nth-child(2) > span{
    width: 100%;
   /* background-color: rgb(208, 208, 208); */
   background-color: white;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
   margin: 8.6px 0;
   padding: 18px 30px;
   font-family: var(--font-fam);
   font-size: 16px;
   letter-spacing: 0.2px;
   border-radius: 5px;
}
@media screen and (max-width: 1139px){
.marke_issues_continer{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.marke_issues_continer div:first-child{
    margin: unset;
}
.marke_issues_continer div:first-child,
.marke_issues_continer div:nth-child(2){
    max-width: 600px;
}
}
@media screen and (max-width: 700px) {
.marke_issues_background{
    padding: 6rem 2rem 3rem 2rem;
}
.marke_issues > h1{
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 1.5rem;
}
.marke_issues_continer{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
}
.marke_issues_continer div:first-child{
    width: 100%;
}
.marke_issues_continer div:nth-child(2){
    width: 100%;
}
.marke_issues_continer div:nth-child(2) > span{
   width: 100%;
   margin: 7px 0;
}
.marke_issues_continer{
  gap: 1.3rem;
}
}