.footer_background{
    width: 100%;
    height: 100%;
    padding: 4rem 0 9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#2d3e50;
    position: relative;
    z-index: 98;
}
.footer_container{
    width: 100%;
    max-width: 1140px;
}
.footer_container > h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: var(--font-fam);
    margin-bottom: 3rem;
}
.footer_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
}
.footer_form_column{
    width: 100%;
    max-width: 371px;
}
/* links section */
.footer_links_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    min-height: 288px;
    min-width: 280px;
}
.footer_links_column > a{
    width: 120px;
    font-family: var(--font-fam);
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    color: white;
}
/* last column */
.footer_last_column{
    width: 100%;
    max-width: 449px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.2rem;
}
.footer_last_column > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    font-family: var(--font-fam);
    height: 25px;
    color:#ffffff;
}
.footer_last_column > p{
    font-size: 1rem;
    font-family: var(--font-fam);
    color:#ffffff
}
.footer_last_column > a > svg{
   margin-right: 5px;
   width: 20px;
   height: 20px;
}
.footer_last_column > a,
.footer_last_column > p{
   width: 280px;
   /* background-color: aqua; */
}
@media screen and (max-width:1139px){
.footer_content{
    width: 100%;
    max-width:550px;
    margin: 0 auto;
   flex-wrap: nowrap;
   flex-direction: column;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}
.footer_links_column,
.footer_last_column{
    align-items: flex-start;
}
.footer_container > h1{
    width: 100%;
    max-width: 550px;
    margin: 2rem auto;
}
.footer_form_column{
    width: 100%;
    max-width: unset;
}
}

@media screen and (max-width:700px){
.footer_background {
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer_content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer_links_column {
    align-items: flex-start;
}
.footer_links_column{
    width: 100%;
    margin: 1rem 0;
}
.footer_last_column{
    width: 100%;
    align-items: flex-start;
  justify-content: flex-start;
}
.footer_last_column > a,
.footer_last_column > p{
    font-size: 1rem;
}
.footer_last_column > a > svg{
    width: 18px;
    height: 18px;
}
.footer_links_column > a{
    font-size: 1.1rem;
}
}
