.home_faq_question{
   background-color: white;
   width: 100%;
   max-width: 600px;
   height: 100%;
   min-height: 45px;
   margin: 11px 0;
   display: flex;
   padding: 0.9rem 2rem;
   flex-direction: column;
   user-select: none;
   cursor: pointer;
   font-size: 1.2rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  font-family: var(--font-fam);
  line-height: 1.5;
}
.home_faq_question > h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}
.home_faq_question > p{
    font-size: 1.05rem;
    color: #666;
    line-height: 1.5;
    margin-top: 3px;
}
.answer.visible {
  display: block;
}
.answer.hidden {
  display: none;
}
@media screen and (max-width:700px){
    .home_faq_question{
       padding: 0.5rem 1.5rem;
       min-height: unset;
       display: flex;
       align-items: flex-start;
       justify-content: center;
       margin: 8px 0;
       
    }
    .home_faq_question > h2{
        font-size: 16px;
        font-weight: 400;
    }
    .home_faq_question > p{
        font-size: 16px;
        margin-top: 7px;
        border-top: 1px solid gray;
        padding-top: 5px;
    }
}
