.web_issues_background{
    width: 100%;
    background-color: black;
    padding: 5rem 0 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(106, 106, 106);
    border-top: 2px solid rgb(106, 106, 106);
}
.web_issues{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.web_issues > h1{
  font-size: 50px;
  color: white;
  font-family: var(--font-fam);
  font-weight: 300;
  margin-bottom: 2rem;
}
.web_issues_continer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.web_issues_continer div:first-child{
    width: 100%;
    max-width: 50%;
}

.web_issues_continer div:first-child > img{
   border-radius: 5px;
   width: 100%;
   height: auto;
}
.web_issues_continer div:nth-child(2){
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
.web_issues_continer div:nth-child(2) > span{
    width: 100%;
   background-color: rgb(39, 39, 39);
   color: white;
   margin: 8.6px 0;
   padding: 20.3px 30px;
   font-family: var(--font-fam);
   font-size: 16px;
   letter-spacing: 0.2px;
   border-radius: 5px;
}
@media screen and (max-width: 1139px){
.web_issues_continer{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.web_issues_continer div:first-child{
    margin: unset;
}
.web_issues_continer div:first-child,
.web_issues_continer div:nth-child(2){
    max-width: 600px;
}
}
@media screen and (max-width: 700px) {
.web_issues_background{
    padding: 6rem 2rem 3rem 2rem;
    border-top: 2px solid rgb(104, 104, 104);
    border-bottom: 2px solid rgb(104, 104, 104);
}
.web_issues > h1{
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.3px;
  margin-bottom: 1.5rem;
}
.web_issues_continer{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
}
.web_issues_continer div:first-child{
    width: 100%;
}
.web_issues_continer div:nth-child(2){
    width: 100%;
}
.web_issues_continer div:nth-child(2) > span{
   width: 100%;
   color: white;
   margin: 7px 0;
}
.web_issues_continer{
  gap: 1.3rem;
}
}