.plans__intro_background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
}
.plans_intro_container{
   width: 100%;
    min-height: 800px;
    max-width: 1140px;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    justify-content: start;
    padding: 4rem 0;
}
.plans_intro_text{
    width: 100%;
    margin-left: 2.4rem;
}
.plans_intro_text > h1{
    font-size: 60px;
    max-width: 550px;
    line-height: 60px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 2.3rem;
}
.plans_intro_text > p{
   font-size: 22px;
   font-family: var(--font-fam);
   max-width: 300px;
   line-height: 27px;
   margin-bottom: 1.5rem;
}
.plans_button_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.plans_button{
  display: block;
    width: 200px;
   height: 40px;
   display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-fam);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: var(--green);
    padding: 7px 0;
    border-radius: 5px;
    text-decoration: none;
}
.plans_icons_conteiner{
  width: 500px;
  min-width: 500px;
  height: 375px;  
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.plans_icons_conteiner > svg{
     fill: transparent;
     padding: 15px;
     border-radius: 5px;
     position: absolute;
}
.plans_icons_conteiner > svg:nth-child(1){
    animation: pans_icon 1.5s forwards, plans_all_icons 2s forwards;
    animation-delay: 0s, 4.5s;
    width: 340px;
     min-width: 340px;
     height: 340px;
     min-height: 340px;
}
.plans_icons_conteiner > svg:nth-child(2){
    animation: pans_icon 1.5s forwards, plans_all_icons 2s forwards;
     animation-delay: 1.5s, 4.5s;
     width: 350px;
     min-width: 350px;
     height: 350px;
     min-height: 350px;
}
.plans_icons_conteiner > svg:nth-child(3){
    animation: pans_icon 1.5s forwards, plans_all_icons 2s forwards;
     animation-delay: 3s, 4.5s;
     width: 280px;
     min-width: 280px;
     height: 280px;
     min-height: 280px;
}
.plans_icons_conteiner > svg:nth-child(4){
    animation: pans_icon 1.5s forwards, plans_all_icons 2s forwards;
     animation-delay: 4.5s, 4.5s;
      width: 280px;
     min-width: 280px;
     height: 280px;
     min-height: 280px;
}
@keyframes pans_icon {
  0% {
    transform: translateY(-50px);

  }
  70%{
    transform: translateY(0px);
    fill:rgb(137, 141, 138);
  }
  100% {
    transform: translateY(50px);
    fill: transparent;
  }
}
@keyframes plans_all_icons{
  0%{
      position: static;
      width: 80px;
      min-width: 80px;
      height: 80px;
      min-height: 80px;
      padding: 0;
      margin: 0 10px;
      transform:translateY(0px);
  }
  100%{
      fill:rgb(137, 141, 138);
      position: static;
      width: 80px;
      min-width: 80px;
      height: 80px;
      min-height: 80px;
      padding: 0;
      margin: 0 10px;
      transform: translateY(0px);
  }
}

@media screen and (max-width: 1139px) {
  .plans_intro_container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }

  .plans_intro_text {
    max-width: 600px;
    margin-left: unset;
  }
  .plans_intro_container > img:first-child{
    max-width: 600px;
  }
  .plans_icons_conteiner{
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .plans_intro_container {
    padding: 6rem 2rem;
    align-items: flex-start;
    gap: 2rem;
  }
.plans_icons_conteiner{
    min-width: unset;
    height: 275px;
  }
  .plans_intro_text > h1 {
    font-size: 32px;
    line-height: 37px;
    max-width: 350px;
    margin-bottom: 2rem;
  }

  .plans_intro_text > p {
    font-size: 20px;
    line-height: 24px;
    max-width: 300px;
    margin-bottom: 2rem;
  }

  .plans_button_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
  }

  .plans_button {
    width: 220px;
    font-size: 1rem;
    font-weight: 400;
  }

  .plans_intro_container > img:first-child {
    max-width: 100%;
  }
  /* icons */
  .plans_icons_conteiner > svg:nth-child(1){
    width: 200px;
     min-width: 200px;
     height: 200px;
     min-height: 200px;
}
.plans_icons_conteiner > svg:nth-child(2){
     width: 210px;
     min-width: 210px;
     height: 210px;
     min-height: 210px;
}
.plans_icons_conteiner > svg:nth-child(3),
.plans_icons_conteiner > svg:nth-child(4){
     width: 160px;
     min-width: 160px;
     height: 160px;
     min-height: 160px;
}
@keyframes plans_all_icons{
  0%{
      position: static;
      width: 60px;
      min-width: 60px;
      height: 60px;
      min-height: 60px;
      padding: 0;
      margin: 0 10px;
      transform:translateY(0px);
  }
  100%{
      fill:rgb(137, 141, 138);
      position: static;
      width: 60px;
      min-width: 46px;
      height: 60px;
      min-height: 60px;
      padding: 0;
      margin: 0 10px;
      transform: translateY(0px);
  }
}
}
