.blog_container_background{
  width: 100%;
    padding: 6rem 0 7rem 0;
    background-color: white;
    border-top: 2px solid #ababab;
    border-bottom: 2px solid #ababab;
  }
  
  .blog_container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .blog_title {
    line-height: 55px;
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 0.3rem;
  }
  .blog_grid > a {
    text-decoration: none;
  }
  .blog_description {
    font-family: var(--font-fam);
    max-width: 600px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    line-height: 27px;
  }
  
  .blog_grid {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .blog_card {
    width: 100%;
    max-width: 270px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blog_card:hover {
    transform: translateY(-5px);
  }
  
  .blog_image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .blog_content {
    padding: 20px;
  }
  
  .blog_card_title {
    font-size: 1.2rem;
    margin: 10px 0 7px 0;
    text-align: center;
    font-family: var(--font-fam);
    color: black;
    font-weight: 400;
  }
  
  .blog_card_text {
    font-size: 1rem;
    color: #333;
    font-family: var(--font-fam);
    text-align: center;
  }
@media screen and (max-width:700px){
  .blog_container_background{
    padding:6rem 2rem;
  }
  .blog_container{
    display: flex;;
    align-items: flex-start;
  }
  .blog_title,
  .blog_description {
    text-align: left;
    width: 100%;
    max-width: 300px;
  }
    .blog_title{
      line-height: 1.2;
      font-size: 30px;
      font-weight: 400;
    }
  .blog_description {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
  .blog_grid {
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1rem;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
  }
  .blog_card{
    min-width: 270px;
  }
  .blog_card_title{
     font-size: 1rem;
  }
}

  