.footer_form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer_form > div > input{
    height: 40px;
}
/* for seo -_- leave it */
.label_in_footer{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.footer_form > div > textarea{
    min-height: 100px;
}
.footer_form > div > input,
.footer_form > div > textarea{
  background-color: white;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 0.6rem 1rem;
  font-family: var(--font-fam);
  font-size: 1.1rem;
  border: 1px solid rgb(175, 175, 175);
}
.footer_form > div > input::placeholder,
.footer_form > div > textarea::placeholder{
    color: rgb(159, 159, 159);
    font-family: var(--font-fam);
}
.footer_form > div > input:focus,
.footer_form > div > textarea:focus{
    outline: none;
    border: 1.5px solid var(--green);
}
.footer_form > button{
    width: 100%;
    height: 45px;
    background-color: #096b35;
    color: white;
    border: none;
    cursor: pointer;
    text-align: start;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: var(--font-fam);

}
@media screen and (max-width:700px){
.footer_form > div > input, .footer_form > div > textarea{
   font-size: 1rem;
}
.footer_form > div > input::placeholder,
.footer_form > div > textarea::placeholder{
    font-size: 1rem;
}
.footer_form > button {
    font-size: 1rem;
    letter-spacing: 0.2px;
}
}