.home_our_services_background{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #ababab;
  border-bottom: 2px solid #ababab;
}
.home_our_services_container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 0 7rem; 
}
.home_our_services_title_container{
  width: 100%;
  text-align: center;
}
.home_our_services_title_container h2{
    line-height: 55px;
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 0.3rem;
}

.home_our_services_title_container > p{
  font-family: var(--font-fam);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}
.home_our_services_cards_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.home_our_services_card{
  width: 252px;
  height: 270px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home_our_services_card svg{
  width: 130px;
  height: 130px;
  fill: #c7c7c7;
  margin-bottom: 15px;
}
 .home_our_services_card:nth-child(1) svg{
  height: 156px;
  width: 156px;
  min-width: 156px;
  min-height: 156px;
  }
.home_our_services_card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home_our_services_card h3 {
  font-family: var(--font-fam);
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 20px;
}
.home_our_services_card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}
.home_our_services_card a {
  font-size: 1rem;
  width: 130px;
  min-width: 130px;
  text-align: center;
  font-weight: 500;
  color: white;
  background-color: var(--green);
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: var(--font-fam);
  line-height: 1.5;
}
.home_our_services_card a:hover {
  background-color: darkgreen;
}



@media (max-width: 768px) {
  .home_our_services_container {
    padding: 4rem 10px;
  }
  .home_our_services_cards_container {
    flex-direction: column;
    align-items: center;
  }
  .home_our_services_card {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .home_our_services_container {
    padding: 5rem 2rem;
    align-items: flex-start;
  }
  .home_our_services_title_container {
    text-align: left;
  }
.home_our_services_title_container h2{
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    line-height: 1.2;
    max-width: 270px;
    margin-bottom: 0.7rem;
  }
.home_our_services_title_container > p{
    text-align: left;
    font-size: 16px;
    max-width: 200px;
    line-height: 1.4;
  }
  .home_our_services_cards_container {
    width: calc(100vw - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .home_our_services_card {
  width: 100%;
  height: unset;
  padding: 2rem 2rem;
  min-height: unset;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative; 
}
.home_our_services_card > h3,
.home_our_services_card > a{
    position: static;
    margin: 5px 0;
}
.home_our_services_card > h3{
  width:45%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.2px;
}
.home_our_services_card > a{
  width: 45%;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.home_our_services_card svg {
  position: absolute;
  fill: #dcdcdc;
  width: 35%;
}
.home_our_services_card:nth-child(1) svg{
    right:1.2rem; 
    bottom: -17px;
    width: 42%;
    min-width: 42%;
  }
.home_our_services_card:nth-child(2) svg{
    right:2rem;
    bottom: -3px;
}
.home_our_services_card:nth-child(3) svg{
    right: 1.3rem;
    bottom: -7px;
}
.home_our_services_card:nth-child(4) svg{
    right:2rem;
      bottom: -3px;
}
}   