.moving_section_main_container,
.moving_section_main_container_dark{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    border-bottom: 2px solid #868686;
        border-top: 2px solid #868686;
}
.moving_section_main_container{
      background-color: #f0f0f0;  
}
.moving_section_container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}
/* for websites */
.moving_section_main_container_dark > div:first-child{
    background-color:rgb(18, 18, 18);
}
.moving_section_main_container_dark > div:first-child > h2{
    color: white;
    font-size: 50px;
    line-height: 60px;
    font-family: var(--font-fam);
    font-weight: 300;
    /* margin-bottom: 0.3rem; */
    z-index: 2;
}
.moving_section_main_container > .moving_section_container > p:nth-child(2){
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: var(--font-fam);
    margin-bottom: 2rem;
}
.moving_section_main_container_dark > .moving_section_container > p:nth-child(2){
    color: white;
    font-size: 1rem;
    font-family: var(--font-fam);
    margin-bottom: 2rem;
}
.moving_section_main_container > .moving_section_container > h2{
     width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 0.3rem;
}
.moving_section_container > h2{
    font-family: var(--font-fam);
    font-size: 35px;
    font-weight: 500;
    color: #333333;
    letter-spacing: -1px;
    line-height: 60px}
.moving_section_container > span > h2 > svg{
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
}
.moving_section_container > span h2:nth-child(1){
    text-align: start;
    /* margin-left: -120px; */
}
.moving_section_container > span h2:nth-child(2){
    /* margin-right: -120px; */
    text-align: end;
}
.moving_section_animation_container{
    width: 100%;
    max-width: 1140px;
}
.moving_section{
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 9;
    gap: 10px;
    position: relative;
}
.moving_section::-webkit-scrollbar,
.second_moving_section::-webkit-scrollbar{
    display: none;
}
.moving_section_item{
    background-color: white;
    width: 200px;
    height: 110px;
    max-width: 180px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    overflow: hidden;
    user-select: none;
    box-shadow: -1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}
.moving_section_item > img{
    width: 60%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}
@media screen and (max-width: 800px){
     .moving_section_main_container_dark > div:first-child > h2 {
        font-size: 28px;
         line-height: 28px;
     } 
    .moving_section_container > span h2:nth-child(1){
       margin-left: 0px;
       width: 100%;
       margin-left: -20%;
       text-align: start;
    }
    .moving_section_container > span h2:nth-child(2){
      margin-right: 0px;
      width: 100%;
      margin-right: -20%;
       text-align: end;
    }
    .moving_section_container > span{
    margin: 1rem 0 0.5rem 0;
}
.moving_section_item{
    background-color: white;
    width: 150px;
    min-width:150px;
    height: 80px;
    margin: 5px;
}
.moving_section_item > img{
    width: 70%;
}
}
@media screen and (max-width: 700px){
    .moving_section_main_container_dark > div:first-child > h2{
        font-weight: 400;
    }
    .moving_section_main_container_dark > .moving_section_container > h2,
    .moving_section_main_container > .moving_section_container > h2{
        width: 100%;
        font-size: 30px !important;
        line-height: 35px !important;
        margin: 0 0 0.5rem 0;
        padding: 0 2rem;
        letter-spacing: 0.2px;
        font-family: var(--font-fam);
        text-align: start;
    }
     .moving_section_container{
        padding: unset;
     }
 .moving_section_container > p{
   width: 100%;
   padding: 0 2rem;
   text-align: start;
 }
.moving_section_item{
    width: 200px;
    height: 110px;
    max-width: 170px;
    margin: unset;
}
 .moving_section{
    padding: 0 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}
.moving_section_main_container,
.moving_section_main_container_dark{
    padding: 6rem 0 3rem 0;
}
.moving_section_container > h2 {
    font-weight: 400 !important;
}
@media screen and (max-width: 420px){
.moving_section_item{
    height: 90px;
    max-width: 150px;
}
 .moving_section{
    gap: 13px;
}
}
}
@media screen and (max-width: 377px){
.moving_section_item{
    width: 100%;
    height: 80px;
    max-width: 145px;
    min-width: unset;
}
 .moving_section{
    gap: 10px;
}
}